<<<<<<< HEAD
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.search {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: calc(100% - 90px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.weather-info {
  display: none; /* Hidden by default */
}

.weather-info p {
  margin: 5px 0;
=======
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  width: 100%;
}

h1 {
  margin-bottom: 20px;
}

.search {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: calc(100% - 90px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.weather-info {
  display: none; /* Hidden by default */
}

.weather-info p {
  margin: 5px 0;
>>>>>>> 7b702e5450c5e2ce2f28a7e4eade810dba2069a9
}